[submodule "backend"]
	path = backend
	url = git@github.com:felimarod/prueba-desarrollador-backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:felimarod/prueba-desarrollador-frontend.git
